 <div class="container"> 
  <div class="d-flex align-items-center">
    <h1>マイページ</h1>
      <div class="ml-auto boards_linkBox">
        <%= link_to 'マイページ編集', edit_user_path(@user), class: "btn btn-outline-dark" %>
      </div>
  </div>
  <div class="row mb-5 mt-3">
    <div class="col-md-4">
      <div class="section">
        <div class="card bg-light border-dark">
          <div class="card-header">
            <h4 class="text-center"><%= @user.name %></h4>
          </div>
          <div class="card-img-top text-center">
            <% if @user.profile_image? %>
              <%= image_tag @user.profile_image.url, :width => '100%' %>
            <% else %>
              <%= image_tag "no_img", :width => '100%' %>
            <% end %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">性別:<%= @user.sex %></li>
            <li class="list-group-item text-center">年齢:<%= @user.age %></li>
            <li class="list-group-item text-center">身長:<%= @user.height %></li>
            <li class="list-group-item text-center">体重:<%= @user.body_weight %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="section">
        <div class="card bg-light border-dark">
          <div class="card-header">
            <h4 class="text-center">自己紹介</h4>
          </div>
          <div class="content">
            <p class="card-text"><%= simple_format(@user.self_introduction) %></p>
          </div>
        </div>
        <div class="card bg-light border-dark mt-5">
          <div class="card-header">
            <h4 class="text-center">目標</h4>
          </div>
          <div class="content">
            <p class="card-text"><%= simple_format(@user.commit) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <table class="table table-hover table-striped boards_table">
    <thead class="thead-dark ">
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>作成者</th>
        <th>作成日時</th>
        <th>更新日時</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @user.boards.each do |board| %>
        <tr>
          <td><%= board.id %></td>
          <td><%= board.title %></td>
          <td><%= board.name %></td>
          <td><%= board.created_at.to_s(:datetime_jp) %></td>
          <td><%= board.updated_at.to_s(:datetime_jp) %></td>
          <td><%= link_to "詳細", board, class: "btn btn-outline-dark" %></td>
          <td><%= link_to "削除", board, class: "btn btn-outline-dark", method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>